@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}
.jokebox{
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%), inset 0 -1px 0 0 #dadce0;
padding: 20px;
margin: 10px;
}
.joke-no{
    float: right;
}
.navbar-dark .navbar-brand {
    margin: 0 auto;
    font-weight: 600;
    font-size: 1.4rem;
}
.button-con{
    text-align: center;
}
.button{
    border: none;
    padding: 10px 20px;
    text-align: center;
    margin: 0 auto;
    text-transform:uppercase;
    color: #fff;
    font-weight:600;
}
@media (min-width: 768px){
.col-md-4 {
    flex: 0 0 31.333333%;
    max-width: 33.333333%;
}
}